# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Database
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# oTree
_static_root/
_bots*
__temp*
__pycache__/
*.pyc

# Environment
.env
venv/
ENV/